{% extends "layout.html" %}
<!-- this layout just goes back ../ for all the links so it doesn't break since it's in the /training/ directory -->
<!-- may be needed for other pages too -->

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card training_background">

                <!-- TRAINING HEADER (Args: Category, training name, points, t_name for image, background class=default "new-colour" so can be left empty) -->
                {% call training_header("Web Hacking", training.display_name, training.points, training.training_name, "sky-blue") %}
                {% endcall %}
                <!-- TRAINING HEADER -->

                <div class="">
                    <div class="card-body training_card">

                        <p>Good job on the last task. This time we're going to look at another attribute: <i>hidden</i>.</p>
                        <p>On this page we've hidden the challenge button this time, sorry!</p>
                        <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/web-hacking/hidden-button.gif') }}">

                        <h2>Ugh, fix it!</h2>
                        <p>The <code>hidden</code> attribute is responsible for hiding whatever tag its placed in. It could be used to hide an image, form field, or in this case a button. To make a hidden tag display again, you simply need to remove the <code>hidden</code> attribute.</p>

                        <p>On the last page we managed to remove the <code>disabled</code> attribute from our button by inspecting the source code, selecting the <code>disabled</code> word, and deleting it. The <code>hidden</code> attribute is no different</p>

                        <h3>Give it a try</h3>
                        <p>Try adding the <code>hidden</code> attribute to this paragraph tag! It should make this text disappear. You can then find the code for this paragraph and delete the attribute again to make it visible. If you delete the wrong thing, you can always refresh this page to return it back to normal.</p>
                        <img width=10px height=10px class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/web-hacking/cody.png') }}">

                        <p>There's a secret image above this paragraph, but it's been hidden using different attributes. See if you can edit it to see the image. HINT: try changing the numbers</p>
                        <!-- HINT -->
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-default btn-smbtn-danger " data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Stuck? Here's the solution
                                </button>
                            </h2>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                            <div class="card-body"><img class="img-fluid demo-gif img-thumbnail mx-auto d-block" src="{{ url_for('static', filename='img/web-hacking/edit-attributes.gif') }}"></div>
                        </div>
                        <!-- END HINT -->
                    </div>
                </div>
            </div>
        </div>


        <!-- MINI CHALLENGE -->

        <div class="row">
            <div class="card text-center challenge">
                <div class="card-header card-header-success">
                    Mini-Challenge
                </div>
                <div class="card-body text-center">
                    <p id="mini-challenge-prompt">Ruh roh! We broke the button! Can you edit the button's source code to enable it again?</p>
                    <button hidden type="button" position="absolute" text-align="center !important" margin="0 auto !important" class="btn btn-success" onclick="mini_challenge()"><i class="material-icons">double_arrow</i>Accept Mini-Challenge</button>

                    <!-- HINT -->
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-default btn-smbtn-danger " data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Hint
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                        <div class="card-body">The first step is to find the part of the source code that makes the "Accept Mini-Challenge" button. Try right clicking directly above the button and clicking "Inspect". You'll have to open up some div tags using the drop-down arrows to find the button. Then double click the button's tag to edit it; you will want to highlight the 'disabled' word and delete it</div>
                    </div>
                    <!-- END HINT -->
                </div>
            </div>
        </div>

        <!-- END MINI CHALLENGE -->

        <!-- PAGE NAV (Args: Current page passed from routes.py, training name passed from routes.py, total number of pages) -->
        {% call pagination(current_page, training.training_name, 4) %}
        {% endcall %}
        <!-- END PAGE NAV -->

    </div>
</div>


<script>
    function mini_challenge() {

        swal("Nice!", "You did it, well done", "success", {
            button: "Next",
        });
    }

</script>





{% endblock content %}
