{% extends "layout.html" %}
<!-- this layout just goes back ../ for all the links so it doesn't break since it's in the /training/ directory -->
<!-- may be needed for other pages too -->

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card training_background">
                <!-- TRAINING HEADER (Args: Category, training name, points, t_name for image, background class=default "new-colour" so can be left empty) -->
                {% call training_header("Web Hacking", training.display_name, training.points, training.training_name, "sky-blue") %}
                {% endcall %}
                <!-- TRAINING HEADER -->

                <div class="">
                    <div class="card-body training_card">

                        <p>Here's a little bit of a summary of what we know so far:</p>
                        <ul>
                            <li>You can edit the source code by right clicking the part you want to edit, clicking "Inspect", then double clicking the tag you want to edit</li>
                            <li>You can edit the text of a website</li>
                            <li>You can disable/enable part of a website by adding/removing the <code>disabled</code> attribute</li>
                            <li>You can hide/show part of a website by adding/removing the <code>hidden</code>attribute</li>
                        </ul>
                        <p>You're going to need all these skills for the final challenge, so go back and practice if you're not feeling confident.</p>


                        <h2>Episode II: Revenge of the Frog</h2>
                        <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/web-hacking/cody-book.png') }}">
                        <p>So Cody's done some reading about web security, and he's finally removed those password reminder comments from his code. He's still pretty forgetful though, so he wanted to come up with <i>some way</i> to get into his website even if he had forgotten the usual password</p>
                        <p>In addition to the usual login form, there is a secret login page that accepts a different password. You'll want to find out the password, then press the login button.</p>

                    </div>
                </div>
            </div>
        </div>
        <!-- CHALLENGE (Args: Points, text, hint, training name) -->
        {% call challenge(training.points, "Log in to Cody's secret website by editing the source code. You'll need to change the attributes we've learnt before", "There is more than one element you'll need to edit on Cody's website. Have a look for a hidden image to find out the password, then enable the button that let's you submit the password. Have another go at page 2 and 3 of this training if you're still stuck", training.training_name) %}
        {% endcall %}
        <!-- END CHALLENGE -->

        <!-- PAGE NAV (Args: Current page passed from routes.py, training name passed from routes.py, total number of pages) -->
        {% call pagination(current_page, training.training_name, 4) %}
        {% endcall %}
        <!-- END PAGE NAV -->

    </div>
</div>


<script>
    function prompt_login() {


        swal("Oh no, you're not logged in! Making an account lets you save your progress, AND earn points and hacker ranks.", {
                icon: "warning",
                buttons: {
                    continue: {
                        text: "Continue anyway",
                        value: "continue",
                        className: "grey-bg",
                    },
                    register: {
                        text: "Register",
                        value: "register",
                    },
                    login: {
                        text: "Login",
                        value: "login",
                    },
                },
            })
            .then((value) => {
                switch (value) {
                    case "login":
                        window.location.href = "../../login";
                        break;

                    case "register":
                        window.location.href = "../../register";
                        break;

                    case "continue":
                        window.open('../editing-source/challenge', '_blank');
                        break;
                }
            });
    }

</script>





{% endblock content %}
