<head>
    <style>
        body {
            background-color: aquamarine;
            text-align: center;
        }

        h1 {
            color: white;
        }

    </style>
</head>

<body>
    <h1>Hey member!</h1>
    <h2>Welcome to the secret club, now gaze upon our finest secrets</h2>
    <p>The real treasure of this club is our collection of very tiny bugs. Have a look!</p>
    <img src="../../static/img/web-hacking/bugstrans.png">
    <!-- Don't forget, the password is "hoppingcool" -->
    <p>Delectable, don't you think?</p>
</body>
