<head>
    <style>
        body {
            background-color: aquamarine;
            text-align: center;
        }

        h1 {
            color: white;
        }

    </style>
</head>

<body>
    <h1>My secret club</h1>
    <h2>Members only! Keep out if you're not one of the squad</h2>
    <img src="../../static/img/web-hacking/froggo.png">
    <!-- Don't forget, the password is "hoppingcool" -->
    <form method="POST" action="" autocomplete="off">

        <label for="lname">Password:</label><br>
        <input type="text" id="lname" name="lname" value=""><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
