{% extends "layout.html" %}
<!-- this layout just goes back ../ for all the links so it doesn't break since it's in the /training/ directory -->
<!-- may be needed for other pages too -->

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card training_background">


                <div class="">
                    <div class="card-body training_card">
                        <p>Woah! A secret page!</p>
                        <p>I can't believe you found this... Did you come here from robots.txt?</p>
                        <p>If you made it here because of a particular training, the code you need to enter to get your points is: <code>notverywellhidden</code></p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<script>


</script>





{% endblock content %}
