{% extends "training-layout.html" %}
<!-- this layout just goes back ../ for all the links so it doesn't break since it's in the /training/ directory -->
<!-- may be needed for other pages too -->

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card training_card">
                <!--<div class="card-header card-header-primary">
                            <h4 class="card-title">How does it work?</h4>
                        </div> -->
                <div class="card-bod training_cardy">
                    <div class="d-flex justify-content-center">
                        <h1>Cryptography</h1>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h3>Caesar Cipher</h3>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h4>100 points</h4>
                    </div>
                    <p><i>Encryption</i> is the word for taking a normal message and changing it so it is hard or impossible to read. The caesar cipher was used by the Roman emperor Julius Caesar to <i>encrypt</i> his letters</p>

                    <p>Every letter in your secret message is shifted by a number you choose. For a caesar shift of 2, "A" would become "C". But with a caesar shift of 3, "A" would become "D".</p>

                    <p>First decide how many letters you want to 'shift' your secret message. Let's choose a caesary shift of 1.</p>
                    <img src="../../static/img/training/shift1.png" width=100%>
                    <br><br>
                    <p>Say the secret message you want to encrypt is... "BAD", with a caesar shift of 1. To get the secret message, we will shift each letter by one place. "B" will become "C", "A will become "B", and "D" will become "E". </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card text-center challenge">
                <div class="card-header card-header-success">
                    Challenge
                </div>
                <div class="card-body text-center">
                    <p>Can you encrypt the word "CAB" with a caesar shift of 1?</p>
                    <button type="button" position="absolute" text-align="center !important" margin="0 auto !important" class="btn btn-success" onclick="caesar_1()"><i class="material-icons">double_arrow</i>Accept Challenge for 50 points</button>
                    <!--<button type="button" position="absolute" text-align="center !important" margin="0 auto !important" class="btn btn-default" onclick="document.getElementById('page2').click()"><i class="material-icons">skip_next</i>Skip</button>-->
                    <button type="button" position="absolute" text-align="center !important" margin="0 auto !important" class="btn btn-default" onclick="window.location.href='#updates'" data-toggle="tab"><i class="material-icons">skip_next</i>Skip</button>
                </div>
            </div>
        </div>


        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>


    </div>
</div>





<script>
    function caesar_1() {

        swal({
                text: 'Encrypt the message "CAB" with a caesar shift of 1',
                content: "input",
                button: {
                    text: "Submit",
                    closeModal: true,
                },
            })
            .then(name => {
                if (DOMPurify.sanitize(name).toUpperCase() == "DBC") {
                    swal("Nice!", "That's correct, well done", "success", {
                            button: "Next",
                        })
                        .then(link => {
                            document.getElementById('page2').click()

                            //set cool completed training in db
                        });
                } else {
                    swal("Not quite!", "Have another go", "error", {
                        button: "Return"
                    });
                }
            })


    }

</script>





{% endblock content %}
