{% extends "layout.html" %}
{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Login now</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                    <form method="POST" action="" autocomplete="off">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="bmd-label-floating"> {{ form.email.label }} </label>
                                    {{ form.email(class="form-control") }}
                                    {% for error in form.email.errors %}
                                    <span class="error"> {{ error }} </span>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="bmd-label-floating"> {{ form.password.label }} </label>
                                    {{ form.password(class="form-control") }}

                                    {% for error in form.password.errors %}
                                    <span class="error"> {{ error }} </span>
                                    {% endfor %}

                                </div>
                                <p>New User? <a class='new' href="{{ url_for('register') }}">Click to Register</a></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">{{ form.recaptcha }}</div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-info pull-right btn-lg" value=Login>Login now</button>
                                <div class="clearfix">
                                </div>
                            </div>

                        </div>
                        <div class="row">

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
