<!-- PAGE NAV -->
{% macro pagination(current_page, t_name, num_pages) %}
{{ caller() }}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <!-- Previous Button -->
        {%if current_page == 1%}
        <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('training_page_redirect', training_name=t_name, page=current_page-1)}}" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('training_page_redirect', training_name=t_name, page=current_page-1)}}" tabindex="-1" aria-disabled="false">Previous</a>
        </li>
        {% endif %}

        <!-- Pages -->
        {% for i in range(num_pages) %}
        {% if current_page == loop.index %}
        <li class="page-item active"><a class="page-link" href="{{ url_for('training_page_redirect', training_name=t_name, page=loop.index)}}">{{loop.index}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="{{ url_for('training_page_redirect', training_name=t_name, page=loop.index)}}">{{loop.index}}</a></li>
        {% endif %}
        {% endfor %}


        <!-- Next button -->
        {%if current_page == num_pages %}
        <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('training_page_redirect', training_name=t_name, page=current_page+1)}}" aria-disabled="true">Next</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('training_page_redirect', training_name=t_name, page=current_page+1)}}">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{%- endmacro %}
<!-- END PAGE NAV -->

<!-- MINI CHALLENGE -->
{% macro mini_challenge(text, hint) %}
{{ caller() }}
<div class="row">
    <div class="card text-center challenge">
        <div class="card-header card-header-success">
            Mini-Challenge
        </div>
        <div class="card-body text-center">
            <p>{{ text }}</p>
            <button type="button" position="absolute" text-align="center !important" margin="0 auto !important" class="btn btn-success" onclick="mini_challenge()"><i class="material-icons">double_arrow</i>Accept Mini-Challenge</button>

            <!-- HINT -->
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-default btn-smbtn-danger " data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Hint
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                <div class="card-body">{{ hint }}</div>
            </div>
            <!-- END HINT -->
        </div>
    </div>
</div>
{%- endmacro %}
<!-- END MINI CHALLENGE -->


<!-- CHALLENGE -->
{% macro challenge(points, text, hint, link) %}
{{ caller() }}
<div class="row">
    <div class="challenge-body text-center challenge card">
        <div class="challenge-header card-header card-header-success">
            <H4>CHALLENGE</H4>
            <P>{{ points }} Points</P>
        </div>
        <div class="white card-body text-center">
            <p onclick="test()">{{ text }} </p>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for(link) }}" target="_blank"><button type="button" position="absolute" text-align="center !important" margin="0 auto !important" class="challenge-accept-button btn"><i class="material-icons">double_arrow</i>Accept Mini-Challenge</button></a>
            {% else %}
            <button type="button" onclick="prompt_login()" position="absolute" text-align="center !important" margin="0 auto !important" class="challenge-accept-button btn"><i class="material-icons">double_arrow</i>Accept Mini-Challenge</button>
            {% endif %}
            <!-- HINT -->
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">

                    <button class="btn btn-default btn-smbtn-danger " data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Hint
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                <div class="white card-body">{{ hint }}</div>
            </div>
            <!-- END HINT -->
        </div>
    </div>
</div>
{%- endmacro %}
<!-- END CHALLENGE -->


<!-- TRAINING HEADER (Args: Category, training name, points, image, background class=default "new-colour" so can be left empty) -->
{% macro training_header(category, training_name, points, image, background_class="new-colour") %}
{{ caller() }}


<div class="{{ background_class }} card-header card-header-primary training-header">

    <img src={{ image }}>

    <div class="d-flex justify-content-center">
        <h1>{{ category }}</h1>
    </div>
    <div class="d-flex justify-content-center">
        <h3>{{ training_name }}</h3>
    </div>
    <div class="d-flex justify-content-center">
        <h4>{{ points }} points</h4>
    </div>
</div>


{%- endmacro %}
<!-- TRAINING HEADER -->
