{% extends "training-layout.html" %}
<!-- this layout just goes back ../ for all the links so it doesn't break since it's in the /training/ directory -->
<!-- may be needed for other pages too -->

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card training_background">

                <div class="new-colour card-header card-header-primary training-header">

                    <img src="../../static/img/training/manual-cracking.png">

                    <div class="d-flex justify-content-center">
                        <h1>Password Cracking</h1>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h3>Manual Cracking</h3>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h4>100 points</h4>
                    </div>
                </div>
                <div class="">
                    <div class="card-bodY training_card">
                        <p>Did you spot any of your own passwords on the list? If so, be sure to change it ASAP! In general, the longer your password the better. Your passwords should also include numbers and symbols.

                        </p>

                        <p>Which of these passwords is the most secure? Click on your choice and find out if you're right.</p>


                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td class="text-center"><button type="button" class="btn btn-default quiz" onclick="wrong()">password</button></td>
                                    <td class="text-center"><button type="button" class="btn btn-default quiz" onclick="wrong()">1234567</button></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><button type="button" class="btn btn-default quiz" onclick="wrong()">Tree5</button></td>
                                    <td class="text-center"><button type="button" class="btn btn-default quiz" onclick="correct()">Happymeal15great!</button></td>
                                </tr>
                            </table>
                        </div>

                        <p>Did you manage to get it right first time? Let's do another one</p>

                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td class="text-center"><button type="button" class="btn btn-default quiz" onclick="wrong()">*f¬’3~</button></td>
                                    <td class="text-center"><button type="button" class="btn btn-default quiz" onclick="correct()">i#LoveCh33se</button></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><button type="button" class="btn btn-default quiz" onclick="wrong()">ilovecheese</button></td>
                                    <td class="text-center"><button type="button" class="btn btn-default quiz" onclick="wrong()">iLOVEcheese!</button></td>
                                </tr>
                            </table>
                        </div>
                        <p>Next we're going to move on to the dangers of never changing default login details. Click next to move on.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE NAV (Args: Current page passed from routes.py, training name passed from routes.py, total number of pages) -->
        {% call pagination(current_page, t_name, 4) %}
        {% endcall %}
        <!-- END PAGE NAV -->

    </div>
</div>





<script>
    function wrong() {
        swal("Oops", "Not quite! Remember a better password will usually be long, have numbers, and symbols", "error")
    }

    function correct() {
        swal("Nice!", "This password is long, has numbers, symbols, and capital letters, and most importantly is easy to remember. You should try to create passwords like this!", "success")
    }

</script>





{% endblock content %}
