{% extends "layout.html" %}
{% block user_activation %} active {% endblock %}
{% block content %}

<div class="content">
    <div class="container-fluid">



        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Badges</h4>
                        <p class="card-category">View your achievements! </p>
                    </div>
                    <div class="card-body badges">
                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                            Tooltip on top
                        </button>
                        <h4>USER</h4>

                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <hr>
                        <h4>GAME</h4>

                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <hr>
                        <h4>TRAINING</h4>


                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="../static/img/default-avatar.png" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category">Score: {{ current_user.points}}</h6>
                        <h4 class="card-title">{{ current_user.username }}</h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
                    </div>
                </div>
            </div>
        </div>






    </div>
</div>
<SCRIPT>
    $('[data-toggle="tooltip"]').tooltip();

</SCRIPT>
{% endblock content %}
