{% extends "layout.html" %}
{% block user_activation %} active {% endblock %}
{% block content %}

<div class="content">
    <div class="container-fluid">



        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Badges</h4>
                        <p class="card-category">View your achievements! <u>COMING SOON</u></U></p>
                    </div>
                    <div class="card-body badges">
                        <!-- Was testing tooltips 
                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                            Tooltip on top
                        </button>
                        -->
                        <h4>USER</h4>

                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <hr>
                        <h4>GAME</h4>

                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <hr>
                        <h4>TRAINING</h4>


                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">
                        <img src="{{ url_for('static', filename='img/placeholder_badge.png') }}">

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img" src="../static/img/profile-pics/{{current_user.profile_pic}}.png" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ current_user.username }}</h4>
                        <h6 class="card-category">Score: {{ current_user.points}}</h6>
                        <!-- Ranks -->
                        {% call display_rank(current_user) %}
                        {% endcall %}
                        <!-- End Ranks -->

                    </div>
                </div>
            </div>
        </div>


        <div class="fixed-plugin">
            <div class="dropdown show-dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="fa fa-cog fa-2x"> </i>
                </a>
                <ul class="dropdown-menu">
                    <li class="header-title">Choose profile picture</li>
                    <li class="active">
                        <a class="img-holder switch-trigger" href="{{ url_for('set_profile', pic='alien') }}">
                            <img src="{{ url_for('static', filename='img/profile-pics/alien.png') }}" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-holder switch-trigger" href="{{ url_for('set_profile', pic='techno-boy') }}">
                            <img src="{{ url_for('static', filename='img/profile-pics/techno-boy.png') }}" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-holder switch-trigger" href="{{ url_for('set_profile', pic='techno-girl') }}">
                            <img src="{{ url_for('static', filename='img/profile-pics/techno-girl.png') }}" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-holder switch-trigger" href="{{ url_for('set_profile', pic='robbie') }}">
                            <img src="{{ url_for('static', filename='img/profile-pics/robbie.png') }}" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-holder switch-trigger" href="{{ url_for('set_profile', pic='mindmap') }}">
                            <img src="{{ url_for('static', filename='img/profile-pics/mindmap.png') }}" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-holder switch-trigger" href="{{ url_for('set_profile', pic='handy') }}">
                            <img src="{{ url_for('static', filename='img/profile-pics/handy.png') }}" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-holder switch-trigger" href="{{ url_for('set_profile', pic='googly') }}">
                            <img src="{{ url_for('static', filename='img/profile-pics/googly.png') }}" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-holder switch-trigger" href="{{ url_for('set_profile', pic='claudia') }}">
                            <img src="{{ url_for('static', filename='img/profile-pics/claudia.png') }}" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-holder switch-trigger" href="{{ url_for('set_profile', pic='caterpillar') }}">
                            <img src="{{ url_for('static', filename='img/profile-pics/caterpillar.png') }}" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-holder switch-trigger" href="{{ url_for('set_profile', pic='brain') }}">
                            <img src="{{ url_for('static', filename='img/profile-pics/brain.png') }}" alt="">
                        </a>
                    </li>
                    <li class="button-container">
                        <button type="submit" class="btn btn-primary btn-block">Back</button>
                    </li>

                </ul>
            </div>
        </div>



    </div>
</div>
<SCRIPT>
    $('[data-toggle="tooltip"]').tooltip();

</SCRIPT>
{% endblock content %}
