{% extends "layout.html" %}
{% block content %}
      <div class="content">
        <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Viper in the Dusk</h4>
                <p class="card-category">Chapters of the story</p>
            </div>
        </div>
          <div class="row">
            <a href="{{ url_for('viper-chapter-1')}}">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon circular-icon">
                        <i class="material-icons">check_circle</i>
                      </div>
                      <p class="card-category">Chapter 1</p>

                    </div>
                  </div>
                </div>
            </a>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-icon">
                  <div class="card-icon circular-icon">
                    <i class="material-icons">lock_open</i>
                  </div>
                  <p class="card-category">Chapter 2</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-icon">
                  <div class="card-icon circular-icon locked">
                    <i class="material-icons">lock</i>
                  </div>
                  <p class="card-category">Chapter 3</p>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-icon">
                  <div class="card-icon circular-icon locked">
                    <i class="material-icons">lock</i>
                  </div>
                  <p class="card-category">Chapter 4</p>
                  
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-icon">
                  <div class="card-icon circular-icon locked">
                    <i class="material-icons">lock</i>
                  </div>
                  <p class="card-category">Chapter 5</p>
                  
                </div>
              </div>
            </div>

          </div>
        </div>
</div>


{% endblock content %}
