{% extends "layout.html" %}
{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Register now</h4>
                    <p class="card-category">Complete your profile</p>
                </div>
                <div class="card-body">
                    <form method="POST" action="" autocomplete="off">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating"> {{ form.username.label }} </label>
                                    {{ form.username(class="form-control") }}
                                    {% for error in form.username.errors %}
                                    <span style="color: red;padding: 8px;font-size:82%;"> {{ error }} </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">{{ form.email.label }}</label>
                                    {{ form.email(class="form-control") }}
                                    {% for error in form.email.errors %}
                                    <span style="color: red;padding: 8px;font-size:82%;"> {{ error }} </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">{{ form.password.label }}</label>
                                    {{ form.password(class="form-control") }}
                                    {% for error in form.password.errors %}
                                    <span style="color: red;padding: 8px;font-size:82%;"> {{ error }} </span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">{{ form.confirm_password.label }}</label>
                                    {{ form.confirm_password(class="form-control") }}
                                    {% for error in form.confirm_password.errors %}
                                    <span style="color: red; padding: 8px;font-size:82%;"> {{ error }} </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info pull-right btn-lg">Register now</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
