{% extends "layout.html" %}
{% block scoreboard_activation %} active {% endblock %}
{% block content %}

<div class="content">
    <div class="container-fluid">



        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Scoreboard</h4>
                        <p class="card-category"> Here are the top scorers so far! Can you get a spot on the leaderboard?</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="scoreboard table">
                                <thead class=" text-primary">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Username
                                    </th>
                                    <th>
                                        Rank
                                    </th>
                                    <th>
                                        Points
                                    </th>
                                </thead>
                                <tbody>

                                    <!-- Highlights current user, and displays rank number -->
                                    {% set counter = 0 %}
                                    {% for user in topscorers %}

                                    {% if user == current_user %}

                                    <tr class="table-highlight">
                                        <td class="white">
                                            {{ loop.index }}
                                        </td>
                                        <td class="white">
                                            <img src="../static/img/profile-pics/{{user.profile_pic}}.png" width="50px" height="50px"> {{ user.username }}
                                        </td>

                                        <!-- Ranks -->
                                        {% call display_rank(user) %}
                                        {% endcall %}
                                        <!-- End Ranks -->

                                        <td class="white">
                                            {{ user.points }}
                                        </td>
                                    </tr>


                                    {% else %}

                                    <tr>
                                        <td>
                                            {{ loop.index }}
                                        </td>
                                        <td>
                                            <img src="../static/img/profile-pics/{{user.profile_pic}}.png" width="50px" height="50px"> {{ user.username }}
                                        </td>

                                        <!-- Ranks -->
                                        {% call display_rank(user) %}
                                        {% endcall %}
                                        <!-- End Ranks -->


                                        <td>
                                            {{ user.points }}
                                        </td>
                                    </tr>
                                    {% endif %}

                                    {% endfor %}


                                    {% if users_score != "None" %}
                                </tbody>
                            </table>
                            <br>
                            <p>You're not on the leaderboard... Yet!</p>
                            <table class="scoreboard table">
                                <tbody>
                                    <tr class="table-highlight">
                                        <td class="white">
                                            ???
                                        </td>
                                        <td class="white">
                                            <img src="../static/img/default-avatar.png" width="50px" height="50px"> {{ users_score.username }}
                                        </td>

                                        <!-- Ranks -->
                                        {% call display_rank(users_score) %}
                                        {% endcall %}
                                        <!-- End Ranks -->

                                        <td class="white">
                                            {{ users_score.points }}
                                        </td>
                                </tbody>
                            </table>
                            </tr>
                            {% else %}

                            </table>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>


{% endblock content %}
