{% extends "layout.html" %}
{% block scoreboard_activation %} active {% endblock %}
{% block content %}

<div class="content">
    <div class="container-fluid">



        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Scoreboard</h4>
                        <p class="card-category"> Here are the top scorers so far! Can you get a spot on the leaderboard?</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="scoreboard table">
                                <thead class=" text-primary">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Username
                                    </th>
                                    <th>
                                        Rank
                                    </th>
                                    <th>
                                        Points
                                    </th>
                                </thead>
                                <tbody>

                                    <!-- Highlights current user, and displays rank number -->
                                    {% set counter = 0 %}
                                    {% for user in topscorers %}

                                    {% if user == current_user %}

                                    <tr class="table-highlight">
                                        <td class="white">
                                            {{ loop.index }}
                                        </td>
                                        <td class="white">
                                            <img src="../static/img/default-avatar.png" width="50px" height="50px"> {{ user.username }}
                                        </td>

                                        <!-- Ranks -->
                                        {% if user.points < 100 %}
                                        <td class="white">
                                            noob
                                        </td>
                                        {% elif user.points < 300 %}
                                        <td class="white">
                                            cyberist
                                        </td>
                                        {% elif user.points < 600 %}
                                        <td class="white">
                                            slick coder
                                        </td>
                                        {% elif user.points < 1000 %}
                                        <td class="white">
                                            another rank
                                        </td>
                                        {% elif user.points < 1300 %}
                                        <td class="white">
                                            Pro-Hacker
                                        </td>
                                        {% elif user.points >= 1600 %}
                                        <td class="white">
                                            1337 H4x0r
                                        </td>
                                        {% else %}
                                        <td class="white">
                                            Rank Here
                                        </td>
                                        {% endif %}
                                        <!-- End Ranks -->

                                        <td class="white">
                                            {{ user.points }}
                                        </td>
                                    </tr>


                                    {% else %}

                                    <tr>
                                        <td>
                                            {{ loop.index }}
                                        </td>
                                        <td>
                                            <img src="../static/img/default-avatar.png" width="50px" height="50px"> {{ user.username }}
                                        </td>

                                        <!-- Ranks -->
                                        {% if user.points < 100 %}
                                        <td class="">
                                            noob
                                        </td>
                                        {% elif user.points < 300 %}
                                        <td class="">
                                            cyberist
                                        </td>
                                        {% elif user.points < 600 %}
                                        <td class="">
                                            slick coder
                                        </td>
                                        {% elif user.points < 1000 %}
                                        <td class="">
                                            another rank
                                        </td>
                                        {% elif user.points < 1300 %}
                                        <td class="">
                                            Pro-Hacker
                                        </td>
                                        {% elif user.points >= 1600 %}
                                        <td class="">
                                            1337 H4x0r
                                        </td>
                                        {% else %}
                                        <td class="">
                                            Rank Here
                                        </td>
                                        {% endif %}
                                        <!-- End Ranks -->


                                        <td>
                                            {{ user.points }}
                                        </td>
                                    </tr>
                                    {% endif %}

                                    {% endfor %}



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>


{% endblock content %}
