{% extends "layout.html" %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Stories</h4>
                <p class="card-category">Pick your adventure...</p>
            </div>
        </div>
        <script src="../static/js/plugins/bootstrap-notify.js"></script>
        <script>
            $.notify({
                // options
                message: 'Hello World'
            }, {
                // settings
                type: 'danger'
            });

        </script>
        <div class="row">
            <div class="col-xl-4 col-lg-12">
                <a href="{{ url_for('viper') }}">
                    <div class="card card-chart">
                        <div class="card-header story-images">
                            <!--<div class="ct-chart" id="dailySalesChart"></div>-->
                            <img src="../static/img/viper.png">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Viper in the Dusk</h4>
                            <p class="card-category">A countdown to a large-scale terrorist act... Can you stop it?</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                32 % Complete
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Story 2</h4>
                        <p class="card-category">A serial killer with a flair for streaming their gruesome acts- who's next?</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            0 % Complete
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
