{% extends "layout.html" %}
<!-- this layout just goes back ../ for all the links so it doesn't break since it's in the /training/ directory -->
<!-- may be needed for other pages too -->

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card training_background">

                <!-- TRAINING HEADER (Args: Category, training name, points, t_name for image, background class=default "new-colour" so can be left empty) -->
                {% call training_header("Web Hacking", training.display_name, training.points, training.training_name, "sky-blue") %}
                {% endcall %}
                <!-- TRAINING HEADER -->

                <div class="">
                    <div class="card-body training_card">

                        <p>Oh dear, it appears you have angered Cody. He found out that some unauthorised users were gaining access to his blog and he sure isn't happy about it. Silly Cody, hiding his password in the source code of the website.</p>
                        <img class="img-fluid img-thumbnail mx-auto d-block" src="../../static/img/web-hacking/cody-angry.png">
                        <p>He's cottoned on to the fact that this was a bad idea, but instead of removing his password hint he has decided to <i>split it</i> into different parts hidden in different comments throughout the website</p>


                        <p>There are three parts to the password hidden somewhere in the source code of Cody's website. If you can put all the parts together you should be able to hack into the site once more.</p>

                        <p>Remember, hacking a real person's website is <b>very illegal</b> and you should only attempt this with websites you have permission to do so. Although you don't have Cody's permission, he is but a frog, so it's okay.</p>

                        <p>This is the final challenge, if you are able to hack into Cody's website again you will earn a sweet 100 points. </p>

                    </div>
                </div>
            </div>
        </div>

        <!-- CHALLENGE (Args: Points, text, hint, training name) -->
        {% call challenge(training.points, "Find the password to log in to Cody's website hidden in the source code, then enter it", "On Cody's website, right click the page and select inspect element or view page source. The password is split into three parts, so you will need to piece them together in the right order", training.training_name) %}
        {% endcall %}
        <!-- END CHALLENGE -->

        <!-- PAGE NAV (Args: Current page passed from routes.py, training name passed from routes.py, total number of pages) -->
        {% call pagination(current_page, training.training_name, 4) %}
        {% endcall %}
        <!-- END PAGE NAV -->

    </div>
</div>


<script>
    function prompt_login() {


        swal("Oh no, you're not logged in! Making an account lets you save your progress, AND earn points and hacker ranks.", {
                icon: "warning",
                buttons: {
                    continue: {
                        text: "Continue anyway",
                        value: "continue",
                        className: "grey-bg",
                    },
                    register: {
                        text: "Register",
                        value: "register",
                    },
                    login: {
                        text: "Login",
                        value: "login",
                    },
                },
            })
            .then((value) => {
                switch (value) {
                    case "login":
                        window.location.href = "../../login";
                        break;

                    case "register":
                        window.location.href = "../../register";
                        break;

                    case "continue":
                        window.open('../inspecting-source/challenge', '_blank');
                        break;
                }
            });
    }

</script>





{% endblock content %}
