<head>
    <!-- I've split up the password into three parts, so you'd have to join them all together without spaces to get the real password! Muahahahah! -->
    <style>
        body {
            background-color: aquamarine;
            text-align: center;
            /* Part 1: "bugs" */
        }

        h1 {
            color: white;
        }

    </style>
</head>

<body>
    <h1>My new and improved secret club</h1>
    <h2>Now super secure!</h2>
    <img src="../../static/img/web-hacking/froggo.png">
    <p>I've made it harder for the hackers to get into this site now, so give up if you're not one of the squad!</p>
    <!-- Don't forget, the password is "hoppingcool" -->
    <form method="POST" action="" autocomplete="off">
        <!-- Password part 3: "yummy" -->
        <label for="lname">Password:</label><br>
        <input type="text" id="lname" name="lname" value=""><br><br>

        <input type="submit" value="Submit">
    </form>
</body>




























<!-- Password part 2: "are" -->