{% extends "layout.html" %}
<!-- this layout just goes back ../ for all the links so it doesn't break since it's in the /training/ directory -->
<!-- may be needed for other pages too -->

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card training_background">

                <!-- TRAINING HEADER (Args: Category, training name, points, image, background class=default "new-colour" so can be left empty) -->
                {% call training_header("Web Hacking", training.display_name, training.points, "../../static/img/training/inspecting-source.png", "sky-blue") %}
                {% endcall %}
                <!-- TRAINING HEADER -->

                <div class="">
                    <div class="card-body training_card">

                        <p>The basic building blocks behind all your favourite websites is <i>HTML code</i>. Every website is made up of code in at least this language, but usually also others like CSS and Javascript. HTML code is made up of <b><i>tags</i></b>. They look like this:</p>
                        <img class="img-fluid img-thumbnail mx-auto d-block" src="{{ url_for('static', filename='img/web-hacking/tag.png') }}">

                        <p>You might be thinking that the HTML code for a website would be hidden and secret- but it’s actually possible to inspect that code yourself!</p>

                        <h2>How?</h2>
                        <p>Press the F12 button on your keyboard to open developer tools. Make sure you have the <i>Elements/Inspector</i> tab selected. It should look a little something like this.</p>

                        <img class="img-fluid img-thumbnail mx-auto d-block" src="{{ url_for('static', filename='img/web-hacking/inspect-demo.png') }}">

                        <p>If you are using Chrome/Firefox, it is also possible to right click the part of the website you want to see the code of. Click “Inspect” and the same window as before will appear, but this time with the part of the website you clicked highlighted.</p>

                        <p>Try 'inspecting' this paragraph! Right click this paragraph, click "inspect element" option from the menu, click the dropdown arrows to expand the paragraph tags.</p>

                        <img class="img-fluid img-thumbnail demo-gif mx-auto d-block" src="{{ url_for('static', filename='img/web-hacking/inspect-para.gif') }}">

                        <p>You can inspect the source code of any website on the internet! Although this tool is mostly used for developers, if the developer leaves revealing information in their code it could compromise their website...</p>

                    </div>
                </div>
            </div>
        </div>

        <!-- MINI CHALLENGE (Args: Text, hint) -->

        <div class="row">
            <div class="card text-center challenge">
                <div class="card-header card-header-success">
                    Mini-Challenge
                </div>
                <div class="card-body text-center">
                    <!-- Super secret password: friedegg -->
                    <p>
                        Inspect this sentence to find a hidden comment containing the password- once you've found the password, press the button.</p>
                    <button type="button" position="absolute" text-align="center !important" margin="0 auto !important" class="btn btn-success" onclick="mini_challenge()"><i class="material-icons">double_arrow</i>Accept Mini-Challenge</button>

                    <!-- HINT -->
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-default btn-smbtn-danger " data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Hint
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                        <div class="card-body">Right click the above text, select inspect element. You should find a comment containing the password.</div>
                    </div>
                    <!-- END HINT -->
                </div>
            </div>
        </div>
        <!-- END MINI CHALLENGE -->

        <!-- PAGE NAV (Args: Current page passed from routes.py, training name passed from routes.py, total number of pages) -->
        {% call pagination(current_page, training.training_name, 4) %}
        {% endcall %}
        <!-- END PAGE NAV -->

    </div>
</div>


<script>
    function mini_challenge() {

        swal({
                text: 'What was the password you found by inspecting the element of the challenge text?',
                content: "input",
                button: {
                    text: "Submit",
                    closeModal: true,
                },
            })
            .then(name => {
                if (DOMPurify.sanitize(name).toUpperCase() == "FRIEDEGG") {
                    swal("Nice!", "That's correct, well done", "success", {
                        button: "Next",
                    });
                } else {
                    swal("Not quite!", "Make sure you're inspecting the right text, it should be the paragraph inside the challenge box", "error", {
                        button: "Return"
                    });
                }
            })


    }

</script>





{% endblock content %}
