<head>
    <!-- I've split up the password into three parts, so you'd have to join them all together without spaces to get the real password! Muahahahah! -->
    <style>
        body {
            background-color: aquamarine;
            text-align: center;
            /* Part 1: "bugs" */
        }

        h1 {
            color: white;
        }

    </style>
</head>

<body>
    <h1>My new and improved secret club</h1>
    <h2>Now super secure!</h2>
    <img src="{{ url_for('static', filename='img/web-hacking/cody.png') }}">
    <p>I've made it harder for the hackers to get into this site now, so give up if you're not one of the squad!</p>
    <form method="POST" action="" autocomplete="off">
        {{ form.hidden_tag() }}
        <!-- Password part 3: "yummy" -->
        <label for="password">{{ form.password.label }}</label>
        {{ form.password(class="form-control") }}

        <button type="submit" value="Login">Login</button>
        {% with messages = get_flashed_messages() %}
        {% if messages %}

        <p>{{ messages[-1] }}</p>

        {% endif %}
        {% endwith %}
    </form>
</body>










<!-- Password part 2: "are" -->
