{% extends "/education/layout-teacher.html" %}
{% block instructions_activation %} active {% endblock %}
{% block content %}

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Security Pathway</h4>
                    </div>
                    <div class="card-body">
                        <p>This is a recommended lesson plan to teach password security, very basic penetration testing, and code breaking skills. It is best used as a combined theory and practical exercise when teaching security and cryptography, and will serve well as an introduction to these topics</p>


                        <h3>Recommended Plan (50 mins-1.5 hrs):</h3>
                        <ol>
                            <li>Caesar Cipher Training</li>
                            <li>Substitution Cipher Training</li>
                            <li>Manual Cracking Training</li>
                        </ol>

                        <h3>Recommended setup</h3>
                        <p>Access to Google Chrome/Firefox/Microsoft Edge recommended. Preferably Chrome to ensure demonstations match the animations provided in the training.</p>

                        <h3>More Info</h3>
                        <p>The Caesar Cipher Training teaches the concepts of the Caesar Cipher from the basics, and gradually introduces more difficult concepts and the utilisation of external tools to brute force codes. This exercise would be suitable for both students with no prior knowledge, and those with experience</p>
                        <p>The Substitution Cipher training would likewise be suitable for students with experience or not, and introduces theory with regular practical challenges</p>
                        <p>The Manual Cracking training provides a basic introduction to password security, a very important topic to cover. It then hammers home the importance of choosing secure passwords with practical exercises in cracking a password form by 'brute forcing' popular passwords. This is an exciting activity simulating a real website.</p>

                    </div>
                </div>
            </div>
        </div>




    </div>
</div>


{% endblock content %}
