{% extends "/education/layout-teacher.html" %}
{% block instructions_activation %} active {% endblock %}
{% block content %}

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Web Pathway</h4>
                    </div>
                    <div class="card-body">
                        <p>This is a recommended lesson plan to teach web technologies including HTML and robots.txt. It is best used to serve as an introduction to the topics or to supplement existing knowledge to apply known theory</p>


                        <h3>Recommended Plan (45 mins-1.5 hrs):</h3>
                        <ol>
                            <li>Inspecting Source Code training</li>
                            <li>Editing Source Code training</li>
                            <li>Robots.txt training (optional)</li>
                        </ol>

                        <h3>Recommended setup</h3>
                        <p>Access to Google Chrome/Firefox/Microsoft Edge recommended. Preferably Chrome to ensure demonstations match the animations provided in the training.</p>

                        <h3>More Info</h3>
                        <p>The Inspecting Source Code provides a basic introduction to HTML, the building block language of websites. By getting students to inspect the source code of this website and others, they will become familiar with the structure of HTML. This training exists as a practical beginners HTML activity, and will not teach the bredth of HTML theory. You may want to use this training at the end of a HTML lesson to test student knowledge</p>

                        <p>The Editing Source Code training takes the previous training a step further, by getting students to edit the source code of the website. If the previous "Inspecting Source Code" training has not been completed prior, some level of HTML experience is required. This exercise would also supplement existing HTML lessons well, or serve as an introduction to HTML code.</p>

                        <p>The Robots.txt training is a supercurricular activity, providing a background on webcrawlers and website layout. This activity would serve well as an extension activity or further reading type exercise</p>

                    </div>
                </div>
            </div>
        </div>




    </div>
</div>


{% endblock content %}
