{% extends "layout.html" %}
<!-- this layout just goes back ../ for all the links so it doesn't break since it's in the /training/ directory -->
<!-- may be needed for other pages too -->

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card training_background">

                <!-- TRAINING HEADER (Args: Category, training name, points, t_name for image, background class=default "new-colour" so can be left empty) -->
                {% call training_header("Cryptography", training.display_name, training.points, training.training_name, "yellow-green") %}
                {% endcall %}
                <!-- TRAINING HEADER -->

                <div class="">
                    <div class="card-body training_card">
                        <p>COMING SOON</p>

                        <p>Every letter in your secret message is shifted by a number you choose. For a caesar shift of 2, "A" would become "C". But with a caesar shift of 3, "A" would become "D".</p>

                        <p>First decide how many letters you want to 'shift' your secret message. Let's choose a caesary shift of 1.</p>
                        <img class="img-fluid img-thumbnail mx-auto d-block" src="{{ url_for('static', filename='img/caesar-cipher/shift1.png') }}">
                        <br><br>
                        <p>Say the secret message you want to encrypt is... "BAD", with a caesar shift of 1. To get the secret message, we will shift each letter by one place. "B" will become "C", "A will become "B", and "D" will become "E". </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- MINI CHALLENGE (Args: Text, hint) -->
        {% call mini_challenge("Can you encrypt the word 'CAB' with a caesar shift of 1?", "The first letter 'C' would be shifted one letter forward, becoming 'D'. Now try to do the rest!") %}
        {% endcall %}
        <!-- END MINI CHALLENGE -->

        <!-- PAGE NAV (Args: Current page passed from routes.py, training name passed from routes.py, total number of pages) -->
        {% call pagination(current_page, training.training_name, 5) %}
        {% endcall %}
        <!-- END PAGE NAV -->

    </div>
</div>


<script>
    function mini_challenge() {

        swal({
                text: 'Encrypt the message "CAB" with a caesar shift of 1',
                content: "input",
                button: {
                    text: "Submit",
                    closeModal: true,
                },
            })
            .then(name => {
                if (DOMPurify.sanitize(name).toUpperCase() == "DBC") {
                    swal("Nice!", "That's correct, well done", "success", {
                        button: "Next",
                    });
                } else {
                    swal("Not quite!", "Have another go", "error", {
                        button: "Return"
                    });
                }
            })
    }

</script>





{% endblock content %}
