{% extends "layout.html" %}
<!-- this layout just goes back ../ for all the links so it doesn't break since it's in the /training/ directory -->
<!-- may be needed for other pages too -->

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card training_background">

                <!-- TRAINING HEADER (Args: Category, training name, points, t_name for image, background class=default "new-colour" so can be left empty) -->
                {% call training_header("Cryptography", training.display_name, training.points, training.training_name, "yellow-green") %}
                {% endcall %}
                <!-- TRAINING HEADER -->

                <div class="">
                    <div class="card-body training_card">
                        <p>We now know how to make secret messages, great!</p>

                        <p>But that's no good to us if we can't decrypt them again. Luckily decrypting the caesar cipher is the same process as encrypting, but backwards</p>

                        <p>If we have the message "B" that has been encrypted with a caesar shift of 1, we move backwards one place in the alphabet to get "A"</p>

                        <p>Likewise if we receive the message "FDW" that has been encrypted with a caesar cipher of 3, we can decrypt it by taking each letter and moving it backwards 3 places in the alphabet</p>
                        <p>"F" becomes "C", "D" becomes "A", and "W" becomes "T". So our decrypted message is "CAT"!</p>

                        <img class="img-fluid img-thumbnail mx-auto d-block" src="{{ url_for('static', filename='img/caesar-cipher/shift1.png') }}">
                        <br><br>
                        <p>We've received a mysterious secret message... Can you decrypt it? The caesar shift used to encrypt it is 5, so we must move each letter <i>backwards</i> 5 places.</p>
                        <code>ymnx nx ytu xjhwjy</code>
                    </div>
                </div>
            </div>
        </div>

        <!-- MINI CHALLENGE (Args: Text, hint) -->
        {% call mini_challenge("Can you decrypt the message 'ymnx nx ytu xjhwjy' with a caesar shift of 5?", "Each letter must move backwards 8 places- the first letter should be 't'") %}
        {% endcall %}
        <!-- END MINI CHALLENGE -->

        <!-- PAGE NAV (Args: Current page passed from routes.py, training name passed from routes.py, total number of pages) -->
        {% call pagination(current_page, training.training_name, 5) %}
        {% endcall %}
        <!-- END PAGE NAV -->

    </div>
</div>


<script>
    function mini_challenge() {

        swal({
                text: 'Decrypt the message "ymnx nx ytu xjhwjy" with a caesar shift of 5',
                content: "input",
                button: {
                    text: "Submit",
                    closeModal: true,
                },
            })
            .then(name => {
                if (DOMPurify.sanitize(name).toUpperCase() == "THIS IS TOP SECRET") {
                    swal("Nice!", "That's correct, well done", "success", {
                        button: "Next",
                    });
                } else {
                    swal("Not quite!", "Have another go", "error", {
                        button: "Return"
                    });
                }
            })
    }

</script>





{% endblock content %}
