{% extends "layout.html" %}
<!-- this layout just goes back ../ for all the links so it doesn't break since it's in the /training/ directory -->
<!-- may be needed for other pages too -->

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card training_background">

                <!-- TRAINING HEADER (Args: Category, training name, points, t_name for image, background class=default "new-colour" so can be left empty) -->
                {% call training_header("Cryptography", training.display_name, training.points, training.training_name, "yellow-green") %}
                {% endcall %}
                <!-- TRAINING HEADER -->

                <div class="">
                    <div class="card-body training_card">
                        <p>Now let's try an example where we have a shift of a different number. Say, 3.</p>

                        <p>This means each letter in our plaintext would be shifted forward 3 times. For example, "A" would become "D". And "ABC" would become "DEF".</p>

                        <img class="img-fluid img-thumbnail mx-auto d-block" src="{{ url_for('static', filename='img/caesar-cipher/shift1.png') }}">
                        <br><br>
                        <p>Now let's say the secret message you want to encrypt is... "B", with a caesar shift of 8. To get the secret message, we will shift each letter by eight places. "B" is the second letter of the alphabet, plus 8 equals the tenth letter of the alphabet so "B" becomes "J" </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- MINI CHALLENGE (Args: Text, hint) -->
        {% call mini_challenge("Can you encrypt the rest of the word 'BAD' with a caesar shift of 8?", "The first letter is J! Now take each letter and move forward 8 places in the alphabet") %}
        {% endcall %}
        <!-- END MINI CHALLENGE -->

        <!-- PAGE NAV (Args: Current page passed from routes.py, training name passed from routes.py, total number of pages) -->
        {% call pagination(current_page, training.training_name, 5) %}
        {% endcall %}
        <!-- END PAGE NAV -->

    </div>
</div>


<script>
    function mini_challenge() {

        swal({
                text: 'Encrypt the message "BAD" with a caesar shift of 8',
                content: "input",
                button: {
                    text: "Submit",
                    closeModal: true,
                },
            })
            .then(name => {
                if (DOMPurify.sanitize(name).toUpperCase() == "JIL") {
                    swal("Nice!", "That's correct, well done", "success", {
                        button: "Next",
                    });
                } else {
                    swal("Not quite!", "Have another go", "error", {
                        button: "Return"
                    });
                }
            })
    }

</script>





{% endblock content %}
